body {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-style:oblique;
}

h2 {
    font-size: 40px;
    margin-bottom: -20px;
    font-style:italic;
}

h3 {
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: 60px;
    text-decoration: underline;
}

h4 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: -10px;
}

p {
    display: block;
    font-size: 20px;
    margin-bottom: -10px;
}

#communicationstrategy h2 {
    margin-top: 100px;
}